
.container{
    color: black;
    position: relative;
    border-color: black;
    border-width: thin;

}
body{
    /* background: url("../rsc/img/map.jpg") no-repeat center center;
    background-size: cover;
    background-position: 0 0; */
}
.container img{
    width: 100%;
}

input[type=submit] {
    max-width: 15em;  height: 2em;
    background-color: transparent;

    font-size: 30px;

    border-style: none;
    color: white;
    text-shadow: 5px 4px 5px black;

}

input[type=submit]:hover{
    color: black;
    text-shadow: 5px 4px 5px white;
}

.button-lake{
    z-index: 1;
    position: absolute;
    left: 28%;
    top: 36%;
}
.button-castle{
    left: 73%;
    top: 25%;
    position: absolute;
    z-index: 2;
}
.button-hut{
    left: 82%;
    top: 55%;

    position: absolute;
}
.button-hogsmeade{
    top: 70%;
    left: 40%;
    position: absolute;
}
.button-room{
    left: 73%;
    top: 25%;
    position: absolute;
}
.button-quidditch{
    left: 80%;
    top: 83%;
    position: absolute;
}
.button-room{
    
    position: absolute;
}
.button-dragon{
    font-size: 18px;
    left: 70%;
    top: 67%;
    position: absolute;
    color: rgba(red, green, blue, 0.2%);
}
