<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/game.css" />
  <title>Begin</title>
</head>

<body>
  <main>
    <div class="container">
      <form action="cards" method="post">
        <input class="button-lake" name="button" href="{{url_for('cards')}}" type="submit" value="Lake" />
        <input class="button-castle" name="button" href="{{url_for('cards')}}" type="submit" value="Castle" />
        <input class="button-hut" name="button" href="{{url_for('cards')}}" type="submit" value="Hagrids Hut" />
        <input class="button-hogsmeade" name="button" href="{{url_for('cards')}}" type="submit"
          value="Hogsmeade Village" />
        <input class="button-quidditch" name="button" href="{{url_for('cards')}}" type="submit" value="Quidditch" />
        <input class="button-room" name="button" href="{{url_for('cards')}}" type="submit"
          value="Room of Requirement" />
        <input class="button-dragon" name="button" href="{{url_for('cards')}}" type="submit" value="Dragon Challenge" />
        <img src="../static/rsc/img/map.jpg" alt="" />
      </form>
    </div>
  </main>
</body>

</html>